* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition: background-color 0.5s;
  border-radius: 0px;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#window {
  background-color: #212b30;
  border-radius: 20px;
  padding: 0px 10px;
}

#workspaces button {
  padding: 0 5px;
  color: #7984a4;
  background: transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button.focused,
#workspace button.hover,
#workspaces button.active {
  background: transparent;
  color: #fff;
}

#workspaces button.urgent {
  color: #eb4d4b;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* Modules Style */
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#bluetooth,
#custom-powermenu,
#custom-spotify {
  padding: 0px 15px;
  background-color: #212b30;
  border-radius: 20px;
  color: #e5e5e5;
}

#cpu {
  color: #fb958b;
}

#memory {
  color: #ebcb8b;
}

#battery {
  color: #c0caf5;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #a6e3a1;
}

#pulseaudio {
  color: #7d9bba;
}

#backlight {
  color: #8fbcbb;
}

#clock {
  color: #c8d2e0;
}

#custom-powermenu {
  color: #e06c75;
}

#custom-spotify {
  color: #26a65b;
}

/* Weather Custom Modules (if used) */
#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}
